langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-ollama
faiss-cpu
rank_bm25
beautifulsoup4
streamlit
python-dotenv
tiktoken
ddgs
tavily-python
python-dotenv